// about.scss

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    .formContainer {
        max-width: 600px;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        margin-right: 20px;
    }

    p {
        font-size: 18px;
        line-height: 1.5;
        color: #333333;
    }

    .imgContainer {
        flex: 2;
        background-color: #fcf5f3;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
        }
    }
}
